<Router AppAssembly="@typeof(Program).Assembly">
    @*  neu tim duoc @page tuong ung thi *@
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    @* neeu khong tim duoc @page tuong ung thi hien thi phan notfound *@
    <NotFound>
            <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
