@page "/contact"

<div class="container">
    @* <NavMenu/> *@


    <div class="contact">
        <div class="contact-content">
            <div class="text-center mb-5">
                <h1 class="display-4 fw-bold text-info">Contact</h1>
                <p class="lead text-secondary">
                    Nội dung của page Contact.
                </p>
            </div>

        </div>
    </div>
</div>