@page "/"
@* "/" : localhost:5000 *@

@* <NavMenu/> *@



<h1 class="text-center">Hello, world!</h1>
<p class="text-center">text demo</p>
<p class="text-center">text demo 2</p>
@* BỘ màu của bootstrap
- success : xanh lá
- primary : xanh dương
- info : xanh dương nhạt
- danger : đỏ
- warning : vàng
- secondary : xám
- light :
- dark :
- kết hợp với text- => màu chữ
- bg- => màu nền
- border- =>
- btn- => button màu nền tương ứng
- btn-outline- => button màu viền tương ứng
- alert- => box có màu tương ứng (style dạng thông báo)
- link-, badge bg-, table-, list-group-item-
*@

<p class="text-primary">Primary</p>
<p class="text-primary text-opacity-25">Primary</p>
<p class="text-primary text-opacity-50">Primary</p>
<p class="text-primary text-opacity-75">Primary</p>
<p class="text-primary text-opacity-100">Primary</p>
<p class="text-secondary">secondary</p>
<p class="text-warning">warning</p>
<p class="text-danger">danger</p>
<p class="text-success">success</p>
<p class="text-dark">dark</p>
<p class="text-info">info</p>
<p class="text-light bg-dark">light</p>

@* *@
<div class="bg-primary p-5"></div>
<div class="bg-info p-5"></div>
<div class="bg-secondary p-5"></div>
<div class="bg-light p-5"></div>
<div class="bg-dark p-5"></div>
<div class="bg-danger p-5"></div>
<div class="bg-warning p-5"></div>
<div class="bg-success p-5"></div>
<div class="bg-success bg-opacity-25 p-5"></div>
<div class="bg-success bg-opacity-50 p-5"></div>
<div class="bg-success bg-opacity-75 p-5"></div>
<div class="bg-success bg-opacity-100 p-5"></div>

@* border *@
<div class="p-3 m-2 border border-primary"></div>
<div class="p-5 m-2 border border-info"></div>
<div class="p-5 m-2 border border-succes"></div>
<div class="p-5 m-2 border border-danger"></div>
<div class="p-5 m-2 border border-warning"></div>
<div class="p-5 m-2 border border-warning border-opacity-50"></div>
@* vẫn là border-opacity-25, border-opacity-50, border-opacity-75, border-opacity-100 để điều chỉnh màu cho nhạt *@

@* padding , margin
p- , m- chạy từ 1 -> 5
pt- : padding top
pb- : bottom
ps- : padding start(padding left)
pe- : padding end (right)
py, px: trục y hooac x, y : trên dưới , x: trái phải
 *@

@* button *@
<button class="btn btn-primary m-3">submit</button>
<button class="btn btn-warning m-3">submit</button>
<button class="btn btn-danger m-3">submit</button>
<button class="btn btn-success m-3">submit</button>
<button class="btn btn-link m-3">submit</button>

<button class="btn btn-outline-secondary m-3">submit</button>
<button class="btn btn-outline-warning m-3">submit</button>
<button class="btn btn-outline-danger m-3">submit</button>
<button class="btn btn-outline-success m-3">submit</button>
<button class="btn btn-outline-primary m-3">submit</button>

@* alert *@
<div class="alert alert-primary m-4"> ℹ Thông báo</div>
<div class="alert alert-danger m-4"> ℹ Thông báo</div>
<div class="alert alert-success m-4"> ℹ Thông báo</div>
<div class="alert alert-warning m-4"> ℹ Thông báo</div>

@* badge *@
<span class="badge bg-primary m-2">primary</span>
<span class="badge bg-danger m-2">danger</span>
<span class="badge bg-success m-2">success</span>
<span class="badge bg-warning bg-opacity-25 m-2">warning</span>

@* list-group-item *@
<ul>
    <li class="list-group-item list-group-item-primary">primary</li>

    <li class="list-group-item list-group-item-success">success</li>

    <li class="list-group-item list-group-item-danger">danger</li>

    <li class="list-group-item list-group-item-warning">warning</li>
</ul>

@*
bo góc : rounded, rounded-1 -> 5, rounded-circle

border: border-1 => 5

dislay: d-flex, d-none, d-inline,....
justify-content
align-items
 *@

<div class="d-flex justify-content-around align-items-center">
    <div class="p-5 bg-info m-2"></div>
    <div class="p-3 bg-info m-2"></div>
    <div class="p-5 bg-info m-2"></div>
    <div class="p-1 h-50 bg-info m-2"></div>
</div>


@* grid *@
<div class="row">
    @* 1 dòng chia thành 12 col *@
    @* 12/4 = 3 => môi ô chiếm 3 col *@
    <div class="col-4 py-3 bg-success">1</div>
    <div class="col-4 py-3 bg-secondary">2</div>
    <div class="col-5 py-3 bg-success">3</div>
    <div class="col-4 py-3 bg-secondary">4</div>
</div>

@* break point của bss *@

<div class="row mt-5 g-5">
    @* 1 dòng chia thành 12 col *@
    @* 12/4 = 3 => môi ô chiếm 3 col *@
    @* col-xl-3 : màn từ 1200 tro len sẽ chia col-3 *@
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 py-3 border border-success">1</div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 py-3 border">2</div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 py-3 border border-success">3</div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12 py-3 border">4</div>
</div>

@*  align-items-lg-center *@


@* bs5-nav-tabs *@
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#hello"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
        >
            Home
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
        >
            Profile
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#messages"
            type="button"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
        >
            Messages
        </button>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div
        class="tab-pane active"
        id="hello"
        role="tabpanel"
        aria-labelledby="home-tab"
    >
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, libero. 
    </div>
    <div
        class="tab-pane"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
    >
         profile 
    </div>
    <div
        class="tab-pane"
        id="messages"
        role="tabpanel"
        aria-labelledby="messages-tab"
    >
         messages 
    </div>
</div>



<!-- Modal trigger button -->
<button
    type="button"
    class="btn btn-primary btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#modalId"
>
    Launch
</button>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="modalId"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="false"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Modal title
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="" class="form-label">usernam</label>
                    <input
                        type="text"
                        class="form-control"
                        name=""
                        id=""
                        aria-describedby="helpId"
                        placeholder=""
                    />
                    
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">password</label>
                    <input
                        type="text"
                        class="form-control"
                        name=""
                        id=""
                        aria-describedby="helpId"
                        placeholder=""
                    />
                    
                </div>
                
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>



<br><br><br><br><br><br>


@* <Footer/> *@